/*written by Amy Pham */
/*$darkerPurple: #972EFF */
/*$green: #D4FF69 */
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #FCFCFC;
  color: #1d2349;
  font: 11pt/20pt "Open Sans", sans-serif;
  letter-spacing: 0.05ex;
  hanging-punctuation: first;
  overflow-x: hidden;
  overflow-y: scroll; }

p {
  display: inline-block;
  margin-top: 0;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Proxima Nova", sans-serif;
  margin: 0; }

h1 {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 36pt;
  font-weight: 800;
  line-height: 36pt;
  border-bottom: solid 5px #D1f084; }

h2 {
  font-size: 22pt;
  letter-spacing: 0.07ex; }

h3 {
  display: inline-block;
  font-size: 23pt;
  line-height: 24pt;
  letter-spacing: 0.06ex;
  margin-bottom: 45px;
  border-bottom: solid 3px #D1f084; }

h4 {
  font-size: 18pt;
  font-weight: 600;
  display: inline-block; }

h5 {
  font-size: 14pt; }

img {
  max-width: 100%; }

video, img {
  transition: opacity 0.5s ease-in-out;
  opacity: 1; }

a, .button {
  text-decoration: none;
  font: 500 14pt "Proxima Nova", sans-serif;
  letter-spacing: 1px;
  color: #1d2349;
  box-sizing: border-box;
  fill: none;
  stroke: #1d2349;
  stroke-width: 1px; }
  a:hover, .button:hover {
    border-bottom: solid 2px #B995F0; }

ul {
  font: 500 15pt/32pt "Proxima Nova", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0; }

nav {
  background-color: transparent;
  box-sizing: border-box;
  position: fixed;
  top: -100px;
  width: 100%;
  padding: 14px 40px;
  text-align: right;
  z-index: 5;
  transition: 0.2s ease-in-out;
  pointer-events: none; }
  nav a {
    display: inline-block;
    margin: 0 30px;
    color: #1d2349;
    pointer-events: initial; }
  nav.showing {
    top: 0; }

section {
  width: 100%; }
  section:focus {
    outline: none; }

input, textarea {
  width: 100%;
  resize: none;
  color: #1d2349;
  font: 13pt "Open Sans", sans-serif;
  letter-spacing: 0.03ex; }

svg {
  stroke-linecap: round;
  stroke-linejoin: round; }

/*general whole page classes */
.blue {
  background-color: #1d2349;
  color: #FFF; }

.block {
  display: inline-block;
  width: 50%; }

.loaderDiv {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #FCFCFC;
  opacity: 1;
  z-index: 10;
  transition: 0.2s ease-in-out; }

.loader {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%); }
  .loader img, .loader video {
    opacity: 0;
    transform: scale(0.9, 0.9);
    transition: 0.2s ease-in-out; }
  .loader #tri {
    animation: moveTri 2s infinite linear;
    transform-origin: 50% 63%; }

@keyframes moveTri {
  0% {
    transform: translate(-30%, -12%) rotate(0deg); }
  100% {
    transform: translate(-30%, -12%) rotate(360deg); } }
.info {
  box-sizing: border-box;
  vertical-align: top; }

.loadStroke {
  fill: none;
  stroke: #B995F0;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.loadBG {
  clip-path: url(#clipMask); }

/*specific elements organized by part */
.logo {
  position: fixed;
  top: 160px;
  left: 20px;
  width: auto;
  height: 31.2%;
  z-index: -1;
  stroke-width: 1px;
  fill: none;
  stroke: #B995F0;
  stroke-miterlimit: 10;
  transition: 0.5s ease-in-out; }
  .logo.shrink {
    position: fixed;
    animation: shrinkLogo 0.5s ease-in-out forwards; }
  .logo.grow {
    position: fixed;
    animation: growLogo 0.5s ease-in-out forwards; }

@keyframes shrinkLogo {
  0% {
    top: 160px;
    left: 20px;
    height: 205px;
    stroke-width: 1px; }
  100% {
    top: 10px;
    left: 20px;
    height: 36px;
    stroke-width: 3px; } }
@keyframes growLogo {
  0% {
    top: 10px;
    left: 20px;
    height: 36px;
    stroke-width: 3px; }
  100% {
    top: 160px;
    left: 20px;
    height: 205px;
    stroke-width: 1px; } }
#aboutInfo {
  width: auto;
  text-align: left;
  margin-left: 50%;
  position: relative;
  padding: 180px 7vw 0 0; }

.general {
  box-sizing: border-box;
  min-height: 560px; }
  .general p {
    font-size: 13pt;
    line-height: 26pt;
    letter-spacing: 0.03ex; }

.letterPath {
  fill: none;
  stroke: #1d2349;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

@keyframes slide {
  0% {
    left: -12%; }
  100% {
    left: 15%; } }
.aspirations {
  height: 50px;
  text-align: center;
  margin-top: 30px; }
  .aspirations svg {
    position: absolute;
    left: 7%; }

.animated {
  left: 8%;
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.07, 0.76, 0.8, 0.21);
  /*animation-timing-function: cubic-bezier(.18, .92, .78, .13) */
  animation-iteration-count: 1; }

#work {
  text-align: left;
  line-height: 0; }

.project {
  position: relative;
  height: 300px;
  margin: 0;
  overflow: hidden;
  text-align: center; }
  .project video {
    position: absolute;
    left: 0;
    z-index: -2; }
  .project a {
    position: absolute; }
  .project p {
    position: relative;
    margin: 0;
    color: #FFF;
    font: 500 2em "Proxima Nova", sans-serif;
    top: 52%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0;
    transition: 0.2s ease-in-out; }
  .project::before {
    display: block;
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: #902EFF;
    opacity: 0;
    z-index: -1; }
  .project:hover {
    border: 0; }
    .project:hover p {
      opacity: 1;
      top: 50%; }
    .project:hover::before {
      opacity: 0.4; }

#contact {
  text-align: left;
  padding-bottom: 100px;
  position: relative; }

#contactInfo {
  height: 576px;
  padding: 0 7vw;
  padding-top: 130px;
  position: relative; }

#contactForm {
  box-sizing: border-box;
  padding-right: 10%; }

form {
  margin-top: 100px; }

.form-group {
  width: 100%;
  position: relative;
  margin: 60px 0;
  border-bottom: 1px solid #1d2349; }

.form-control {
  background: transparent;
  height: auto;
  border: 0; }
  .form-control:focus {
    outline: 0; }

.footer {
  width: calc(100% - 14vw);
  font: 200 10pt "Open Sans", sans-serif !important;
  color: #AAA;
  position: absolute;
  bottom: 0;
  left: 7vw; }

.projectBlock {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  background-color: #FCFCFC;
  transition: 0.5s ease-in-out;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: scroll; }
  .projectBlock.showing {
    left: 0; }

.projectBack {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 6; }
  .projectBack:hover {
    cursor: pointer; }

/*effects */
/*transition*/
 * /*for later implementation
 * animation-name: transitionUp
 * animation-duration: 0.5s
 * animation-timing-function: ease-in-out
 * animation-iteration-count: 1
 * transition: 1s ease-in-out */
.selectedWork {
  z-index: 4;
  width: 100%;
  position: absolute;
  top: 30px !important;
  left: 0; }
  .selectedWork video {
    width: 100% !important; }
  .selectedWork:before {
    display: block;
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 4; }
  .selectedWork:hover p {
    top: 100%; }

@keyframes transitionUp {
  0% {
    width: 50%; }
  100% {
    width: 100%; } }
/*form */
.form-group::before {
  content: "";
  position: absolute; }

.control-border {
  box-sizing: content-box;
  border-bottom: 2px solid #B995F0;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition: width 0.6s ease-in-out;
  pointer-events: none; }

.control-border.changed::before {
  width: 100%; }

.label {
  font: 600 12pt "Proxima Nova", sans-serif;
  width: 100%;
  height: 30px;
  position: absolute;
  top: 100%;
  overflow: hidden; }
  .label label {
    position: absolute;
    bottom: 100%;
    transition: bottom 0.25s ease-in-out;
    -webkit-transition: bottom 0.25s ease-in-out;
    -moz-transition: bottom 0.25s ease-in-out;
    -o-transition: bottom 0.25s ease-in-out; }

input:focus ~ .label label {
  bottom: 0; }

textarea:focus ~ .label label {
  bottom: 0; }

.button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

.placeholder {
  width: 100%;
  height: 100%;
  color: #999;
  position: absolute;
  top: 0;
  overflow: hidden;
  pointer-events: none; }
  .placeholder p {
    color: #1d2349;
    font: 13pt "Open Sans", sans-serif;
    position: absolute;
    bottom: 10px;
    margin: 0;
    transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out; }

textarea ~ .placeholder p {
  top: auto;
  bottom: 10px; }

input:focus ~ .placeholder p {
  bottom: -50%; }

textarea:focus ~ .placeholder p {
  bottom: -50%; }

.placeholder.notEmpty p {
  top: 100%; }

/*# sourceMappingURL=base.css.map */
