/*written by Amy Pham */
@font-face {
  font-family: HK-reg;
  src: url("../fonts/HKGrotesk-Regular.ttf"); }
@font-face {
  font-family: HK-med;
  src: url("../fonts/HKGrotesk-Medium.ttf"); }
@font-face {
  font-family: HK-semi;
  src: url("../fonts/HKGrotesk-SemiBold.ttf"); }
@font-face {
  font-family: HK-bold;
  src: url("../fonts/HKGrotesk-Bold.ttf"); }
@font-face {
  font-family: Qanelas;
  src: url("../fonts/qanelassoft-extrabold-webfont.woff2") format("woff2"), url("../fonts/qanelassoft-extrabold-webfont.woff") format("woff"); }
/*$midPurple: #BF78FF */
nav {
  background-color: #FFF;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slideDown;
  box-shadow: 0 0 10px #902EFF; }
  nav a {
    text-transform: uppercase;
    font: 0.93em Qanelas;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.175em;
    border-bottom: 3px solid transparent; }
    nav a:hover {
      color: #24252e;
      border-color: #A9EE25; }
  nav .logo {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 2.5em;
    stroke-width: 3px; }

header, section {
  text-align: center;
  position: relative; }

section {
  margin: 0 auto;
  margin-top: 100px !important;
  width: 90%;
  max-width: 1000px; }

h1 svg {
  display: block;
  margin: 0.25em 0; }

h3 svg {
  margin: 0 1ex; }

h6 {
  font-size: 1.2em; }

.hSquiggle {
  fill: none;
  stroke: #A9EE25;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

a {
  font-size: 12pt;
  border-bottom: solid 1px #24252e; }

.project__link, .otherProject h5 {
  text-transform: uppercase;
  letter-spacing: 0.175em;
  border-bottom: none; }

.project__link:hover {
  color: #24252e; }
  .project__link:hover:after {
    margin-left: 1.5ex; }

.project__link::after, .otherProject:last-of-type h5::after, .otherProject:first-of-type h5::before {
  display: inline-block;
  content: "";
  width: 1.8ex;
  height: 1.8ex;
  background: url("../arrow.svg") no-repeat;
  background-size: contain;
  margin-left: 0.8ex;
  margin-top: 0ex;
  transform: translateY(14%);
  transition: 0.2s ease-in-out; }

.otherProject:first-of-type h5::before {
  margin-left: 0;
  margin-right: 1ex;
  transform: translateY(14%) rotate(180deg); }

.addShadow {
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.3); }

.bold {
  font-family: HK-bold;
  letter-spacing: 0.01em; }

.fullStretch {
  max-width: 100%; }

.imgGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.header-img {
  width: 100%; }

.right {
  float: right; }

#gifs video {
  width: 50%;
  float: left; }

.overview {
  display: flex;
  justify-content: space-between;
  padding-top: 8vw;
  margin: 0 auto !important;
  max-width: 1200px; }

.overviewInfo {
  display: inline-block;
  width: 36%;
  text-align: left;
  vertical-align: top; }
  .overviewInfo h1 {
    display: block;
    margin-bottom: 0.2em; }
  .overviewInfo a {
    box-sizing: content-box;
    display: inline-block; }
  .overviewInfo .skills {
    font-family: HK-bold;
    font-size: 0.86em;
    line-height: 1.8em;
    letter-spacing: 0.01em;
    margin-bottom: 1.1em; }

.preview {
  display: inline-block;
  width: 55%;
  vertical-align: top;
  position: relative; }
  .preview video, .preview img {
    max-width: 100%;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.3); }

.message {
  width: 100%;
  font-family: "Qanelas", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  margin: 0;
  margin-top: 20px;
  color: #A263FF; }

.projectContent {
  background-color: #FDFDFD;
  /*margin-bottom: 30vw */ }

.wordblock {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  text-align: left;
  vertical-align: top; }

.grid__col > img {
  max-width: 100%; }

#creations {
  display: flex;
  justify-content: space-between;
  margin-left: -30px; }
  #creations img {
    max-height: 180px;
    box-shadow: none; }

#development {
  text-align: left;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

#features {
  text-align: left;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }
  #features .grid__col {
    transform: translateX(-6em);
    padding-left: 6em;
    vertical-align: middle; }

.topic {
  font-size: 14pt;
  font-family: HK-bold;
  line-height: 25pt; }

#research {
  text-align: left;
  margin: 0 auto; }
  #research .grid__col {
    transform: translateX(-6em);
    padding-left: 6em;
    vertical-align: middle; }
  #research .comparison {
    margin-bottom: 40px;
    position: relative; }
    #research .comparison .wordblock {
      display: inline-block;
      width: auto;
      max-width: 425px; }
    #research .comparison img, #research .comparison picture {
      display: inline-block;
      /*max-width: calc(50% - 20px) */ }
  #research .IAthemes {
    font-weight: bold; }
  #research ul li {
    line-height: 26pt; }
  #research .inspo {
    margin-top: 40px; }
    #research .inspo img, #research .inspo picture {
      max-width: 200px; }
    #research .inspo .wordblock {
      width: calc(100% - 240px);
      margin-left: 40px; }
  #research .persona {
    max-width: 46% !important; }
    #research .persona p {
      margin-top: 2em; }
    #research .persona ul {
      width: 50%;
      margin-left: 8%;
      display: inline-block;
      font-weight: 700;
      font-family: "HK-reg", sans-serif;
      letter-spacing: 0.05ex; }
    #research .persona li {
      font-size: 11pt;
      line-height: 18pt;
      margin-bottom: 10pt; }
    #research .persona .personaPic {
      display: inline-block;
      width: 38%;
      height: 20vw;
      text-align: center;
      overflow: hidden;
      border-radius: 8px;
      vertical-align: top;
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.3); }
      #research .persona .personaPic img {
        height: 100%;
        transform: translateX(-15%); }
  #research .topic {
    position: relative;
    display: block;
    margin-bottom: 1ex; }
  #research .conclusion {
    margin-top: 1em; }
  #research .finding {
    font-family: "Qanelas", sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 13pt;
    font-weight: 700; }
  #research .textData {
    font-size: 12pt;
    font-family: "Qanelas", sans-serif;
    font-weight: 500;
    letter-spacing: 0; }

.researchItem {
  display: inline-block;
  width: calc(50% - 20px);
  margin-top: 30px;
  position: relative;
  vertical-align: top; }
  .researchItem img {
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.3); }

.surveyItem {
  margin-bottom: 30px;
  position: relative;
  vertical-align: top; }
  .surveyItem .finding {
    font-size: 20pt !important;
    line-height: 28pt;
    border: none; }
  .surveyItem.barStat svg {
    height: auto;
    vertical-align: middle;
    display: inline-block; }
  .surveyItem.barStat .num {
    fill: #24252e;
    font-family: "Qanelas", sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 20pt; }
    .surveyItem.barStat .num.multiline {
      font-size: 20pt; }
  .surveyItem.barStat .wordblock {
    display: inline-block;
    max-width: 45%;
    margin-left: 70px;
    vertical-align: text-bottom; }
  .surveyItem.barStat.full {
    width: 100%; }
  .surveyItem.pieStat h4 {
    color: #B995F0;
    margin: 10px 0 40px 0; }
  .surveyItem.pieStat svg {
    width: 46%;
    height: 200px;
    vertical-align: top;
    margin-bottom: 50px; }
  .surveyItem.pieStat .keyColor {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left; }
  .surveyItem.pieStat .wordblock {
    width: 42%;
    margin-left: 10%;
    margin-top: 5%;
    position: relative; }
  .surveyItem.pieStat .num {
    width: auto;
    max-width: calc(100% - 33px);
    display: inline-block;
    fill: #24252e;
    color: #24252e;
    font-family: "Qanelas", sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 13pt;
    position: relative;
    left: 10px;
    vertical-align: bottom;
    margin-bottom: 12px; }
    .surveyItem.pieStat .num.multiline {
      font-size: 20pt; }
  .surveyItem.course .wordblock {
    max-width: calc(100% - 126px); }
  .surveyItem.course h4 {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px;
    transform: translateX(-46%) translateY(-52%);
    border: none; }
  .surveyItem.course p {
    display: block; }
  .surveyItem.course svg {
    display: inline-block;
    margin-right: 20px; }
  .surveyItem.course .ground {
    stroke: #CDCDCD; }
  .surveyItem.course .pie {
    stroke: #A263FF; }
  .surveyItem ellipse {
    fill: none;
    stroke-width: 8px;
    stroke-dashoffset: 30px; }
  .surveyItem.comparison.first img {
    width: 360px !important;
    max-width: none !important; }
  .surveyItem.comparison img {
    width: 220px;
    margin-top: 30px; }

.st0 {
  fill: #A263FF;
  background-color: #A263FF; }

.st1 {
  fill: #FFF;
  stroke: #A9EE25;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  box-sizing: border-box;
  background-color: #FFF;
  border: 2px solid #A9EE25; }

.st2 {
  fill: #D9B9FF;
  background-color: #D9B9FF; }

.st3 {
  fill: #DDD;
  background-color: #DDD; }

.st4 {
  fill: #ECECEC;
  background-color: #ECECEC; }

.st5 {
  fill: #F0F0F0;
  background-color: #F0F0F0; }

.pageDesc {
  display: flex;
  margin-bottom: 2em; }
  .pageDesc h4, .pageDesc h6 {
    float: left;
    margin-right: 3em;
    position: relative;
    flex-shrink: 0; }
    .pageDesc h4::after, .pageDesc h6::after {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 1.7em;
      border-bottom: solid 4px #A9EE25; }

.screen {
  width: 48%;
  margin-bottom: 2em;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.3); }

#wireframes {
  display: block;
  text-align: left;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  /*.pages
   * display: inline-block
   * vertical-align: top
   * margin: 0
   * margin-bottom: 1ex
   * float: left
   * li
   * 	display: inline
   * 	margin-right: 20px
   * 	cursor: pointer
   * 	color: $midPurple
   * 	@include heading-font()
   * 	&:hover
   * 		border-bottom: solid 1px $midPurple
   * .selected
   * 	color: $dark
   * 	cursor: default
   * 	&:hover
   * 		border: none */
  /*p
   * display: none */ }
  #wireframes hr {
    height: 1px;
    background-color: #B995F0;
    border: none; }
  #wireframes .wf {
    display: inline-block;
    width: 100%;
    /*width: auto */
    /*max-width: 400px */
    position: relative;
    margin-bottom: 8em; }
    #wireframes .wf img {
      width: 100%; }
    #wireframes .wf .hotspots {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; }
    #wireframes .wf .hotspot, #wireframes .wf .hotspotClone {
      cursor: pointer;
      fill: #902EFF;
      stroke-width: 0;
      animation: pulse 6s linear infinite; }
      #wireframes .wf .hotspot.selected, #wireframes .wf .hotspotClone.selected {
        stroke: #A263FF;
        stroke-width: 8;
        fill: rgba(0, 0, 0, 0);
        r: 28.3;
        animation: none; }
    #wireframes .wf .hotspotClone {
      pointer-events: none;
      r: 0;
      animation: pulse 6s linear infinite 3s; }
      #wireframes .wf .hotspotClone.selected {
        display: none; }
    #wireframes .wf .lookAtMe {
      background-color: rgba(162, 99, 255, 0.85);
      color: #FFF;
      padding: 1em 1.5em;
      border-radius: 0.5em;
      transform: translate(-50%, 47%);
      pointer-events: none;
      white-space: nowrap;
      font-family: "Qanelas", sans-serif;
      font-weight: 500;
      letter-spacing: 0;
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.3);
      letter-spacing: 0.03em;
      position: absolute;
      z-index: 3;
      opacity: 1;
      transition: 0.3s ease-in-out; }
      #wireframes .wf .lookAtMe::before {
        content: " ";
        width: 0;
        height: 0;
        border: 0.9em solid transparent;
        border-bottom: 0.9em solid #24252e;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -120%); }
      #wireframes .wf .lookAtMe.seen {
        opacity: 0;
        transform: translate(-50%, 20%); }
@keyframes pulse {
  0% {
    r: 0;
    fill: rgba(144, 46, 255, 0.25); }
  70% {
    fill: rgba(144, 46, 255, 0.6); }
  100% {
    r: 28.3;
    fill: rgba(144, 46, 255, 0); } }
  #wireframes .selected, #wireframes .hotspots.selected {
    display: inline-block; }
  #wireframes .wfImg {
    position: relative; }
  #wireframes .desc {
    background-color: rgba(255, 255, 255, 0.83);
    width: calc(100% - 6em);
    height: 0em;
    padding: 0 3em;
    z-index: 3;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s ease-in-out; }
    #wireframes .desc p {
      opacity: 0;
      font-family: "Qanelas", sans-serif;
      font-weight: 500;
      letter-spacing: 0;
      transition: 0.15s ease-in-out; }
    #wireframes .desc.selected {
      height: 2em;
      padding: 1.5em 3em; }
      #wireframes .desc.selected p {
        opacity: 1; }
  #wireframes.landscape .wf {
    /*max-width: 560px */ }
    #wireframes.landscape .wf .hotspot.selected {
      stroke-width: 5; }

#moodboard {
  width: 100%;
  max-width: initial; }
  #moodboard img {
    width: 56%;
    position: relative;
    left: 0;
    display: inline-block; }
  #moodboard div {
    width: 35%;
    height: 100%;
    padding: 100px 0 50px 70px;
    display: inline-block;
    vertical-align: top; }
  #moodboard p {
    max-width: 24em; }
  #moodboard li {
    font-family: "Qanelas", sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    /*&::before
     * content: '\2014\00a0'
     * color: $midPurple
     * font-size: 16pt */ }

#prototype {
  text-align: center; }

#comps {
  text-align: left;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.compImg, .wfImg {
  width: 100%;
  margin-bottom: 3vw;
  vertical-align: top;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.3); }
  .compImg.compMobile, .wfImg.compMobile {
    box-shadow: none;
    width: 40%;
    margin: 0 5%;
    margin-bottom: 3vw; }

/*slider */
.slider {
  position: relative;
  width: 100%;
  height: 545px;
  overflow: hidden;
  text-align: center; }

.slider-control {
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }

.control-arrow {
  width: 7%;
  height: 100%;
  top: 50%;
  background: rgba(29, 35, 73, 0.8); }
  .control-arrow:hover {
    background: rgba(29, 35, 73, 0.9); }

.control-svg {
  fill: none;
  stroke: #FFF;
  stroke-width: 5px; }

.control-next {
  right: 0; }

.control-back {
  left: 0; }

.pagination {
  left: 50%;
  transform: translateX(-50%);
  top: 90%; }

.control-page {
  content: "&nbsp;";
  margin: 0 10px;
  padding: 7px;
  border-radius: 12px;
  background: #902EFF;
  opacity: 0.5;
  border: none;
  outline: none;
  cursor: pointer; }
  .control-page:hover {
    opacity: 0.75; }

#selected-page {
  border: solid 3px #A263FF;
  padding: 4px;
  background: none;
  opacity: 1; }

.control-close {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  stroke: #B995F0; }

.slider img {
  display: inline-block; }

.comp {
  max-width: 86.2%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.8s cubic-bezier(0.56, 0, 0.4, 1);
  cursor: pointer; }

video.comp {
  max-height: 100%; }

.prevComp {
  left: -100%;
  transform: none; }

.nextComp {
  left: 100%;
  transform: none; }

.fullComp {
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(29, 35, 73, 0.8);
  opacity: 0;
  transition: 0.25s ease-in-out;
  pointer-events: none;
  z-index: 10;
  cursor: pointer; }
  .fullComp.showing {
    opacity: 1;
    pointer-events: initial; }
  .fullComp img, .fullComp video {
    width: auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .fullComp .nextFullComp {
    left: 100%;
    transform: none;
    display: none; }
  .fullComp .prevFullComp {
    left: -100%;
    transform: none;
    display: none; }
  .fullComp .nextFull, .fullComp .prevFull {
    width: 50%;
    position: absolute;
    top: 0;
    z-index: 11; }
  .fullComp .nextFull {
    left: 50%; }
  .fullComp .prevFull {
    left: 0; }

.conclusion p {
  max-width: 43em;
  width: 80%; }

.goProject {
  display: flex;
  justify-content: space-between;
  max-width: initial; }

.otherProject {
  width: 45%;
  border-bottom: none; }
  .otherProject:first-of-type .wordblock {
    float: right;
    text-align: right; }
  .otherProject:last-of-type .wordblock {
    float: left; }
  .otherProject .mask {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out; }
  .otherProject img {
    width: auto;
    max-width: none;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -2;
    float: right; }
  .otherProject video {
    height: 100%; }
  .otherProject .wordblock {
    width: 18vw;
    font-size: 2em;
    padding-top: 5.5vw; }
  .otherProject h5 {
    font-size: 0.5em;
    margin-bottom: 1em; }
  .otherProject:hover {
    color: #24252e; }
    .otherProject:hover .mask {
      transform: translateY(-3%);
      box-shadow: 0 9px 20px rgba(0, 0, 0, 0.4); }
    .otherProject:hover h5::after {
      margin-left: 1.55ex; }
    .otherProject:hover h5::before {
      margin-right: 1.55ex; }

.footer {
  width: auto;
  position: static;
  padding: 40px 0 20px 0; }

/*page transition */
@keyframes fadeInUp {
  0% {
    top: 12vh;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slideDown {
  0% {
    top: -60px; }
  100% {
    top: 0; } }
@media only screen and (max-width: 480px) {
  section {
    width: 88%;
    margin: 0 auto; }
    section > img {
      max-width: 100%; }

  h3 svg {
    display: block;
    margin: 0.5ex auto; }
    h3 svg:first-child {
      transform: rotateY(180deg); }

  .grid {
    margin-left: 0 !important;
    width: 100%; }

  .grid__col {
    width: 100% !important;
    padding: 0 !important;
    transform: none !important; }
    .grid__col > img {
      max-width: 100%; }

  .overview {
    width: 100%; }
    .overview .overviewInfo {
      width: 100%;
      border-radius: none; }
      .overview .overviewInfo .skills {
        margin-top: 2.5em; }

  #research {
    width: 100%; }
    #research .surveyItem.barStat {
      margin-bottom: 6em; }
      #research .surveyItem.barStat svg {
        margin-bottom: 1.5em; }
    #research .finding {
      margin-bottom: 0; }
    #research .conclusion {
      margin-top: 2ex; }
    #research .comparison > img, #research .persona {
      max-width: 100% !important; }
    #research .researchItem, #research .persona {
      display: block;
      width: 100%;
      float: none; }

  #creations #toHide {
    display: none; }

  #wireframes div {
    width: 100%; }
  #wireframes .lookAtMe {
    width: auto; }
  #wireframes .pages {
    max-width: 100%;
    margin-right: 0;
    float: none; }
  #wireframes .wordblock {
    max-width: 100%;
    margin: 0; }

  #moodboard {
    width: 100%; }
    #moodboard div, #moodboard img {
      width: 100%; }
    #moodboard div {
      padding: 5%;
      margin-top: 2em; }
    #moodboard li {
      display: inline-block;
      width: 40%;
      margin-right: 9%; }

  .conclusion p {
    width: 100%; }

  .otherProject {
    display: block;
    width: 83%;
    height: 15em;
    margin: 0 auto;
    margin-bottom: 6em; }
    .otherProject .wordblock {
      left: -5%; } }

/*# sourceMappingURL=work2.css.map */
