/*written by Amy Pham*/
$blue: #1d2349
$purple: #B995F0
$midPurple: #A263FF
$darkerPurple: #902EFF
/*$midPurple: #BF78FF*/
$green: #AAEF25
$white: #FFF
$bgWhite: #FCFCFC
$heading-font: 'proxima-nova', sans-serif
$body-font: 'Open Sans', sans-serif

nav 
	background-color: $white
	animation-delay: 0
	animation-duration: 0.5s
	animation-name: slideDown
	box-shadow: 0 0 10px $darkerPurple
	.logo
		position: absolute
		top: 10px
		left: 20px
		height: 36px
		stroke-width: 3px

header, section
	text-align: center
	position: relative

#headerInfo
	padding: 80px 0
	height: 170px
	h1	
		display: block
		font-weight: 700
		color: $white
		margin-bottom: 20px
		border: none
	h4
		color: $white
		margin: 20px 40px 0 40px
		letter-spacing: 0.1ex

.header-img
	width: 100%

#headerVid
	width: 100%
	height: 250px
	position: absolute
	top: 0
	overflow: hidden
	z-index: -1
	video
		width: 100%
	&::before
		display: block
		position: absolute
		content: ' '
		width: 100%
		height: 250px
		background-color: $darkerPurple
		opacity: 0.4

.beginningBlock
	margin-top: 100px

.right
	float: right

#gifs video
	width: 50%
	float: left

.overview
	p
		display: inline-block
		width: 47%
		margin: 0
		text-align: justify
	a
		box-sizing: content-box
		display: inline-block
		margin-bottom: 10px
	#message
		width: 100%
		font: 500 14pt/21pt $heading-font
		margin: 0
		margin-top: 20px
		color: $midPurple

.previewVid
	video
		width: auto
		max-width: 1000px

.wordblock
	display: inline-block
	width: 100%
	max-width: 1000px
	text-align: left
	vertical-align: top

#creations
	min-width: 355px
	width: 100%
	margin: 5vw 0
	img
		max-height: 200px
		height: 20vw
		margin: 0 5vw

#research
	text-align: left
	width: 90%
	max-width: 1000px
	margin: 0 auto

	.comparison
		margin-bottom: 40px
		position: relative
		.wordblock
			display: inline-block
			width: auto
			max-width: 425px
		img, picture
			display: inline-block
			max-width: calc(50% - 20px)
	.inspo
		margin-top: 40px
		img, picture
			max-width: 200px
		.wordblock
			width: calc(100% - 240px)
			margin-left: 40px
	.persona
		max-width: 46% !important

.researchItem
	display: inline-block
	width: calc(50% - 20px)
	margin-top: 30px
	position: relative
	vertical-align: top
	&.barStat 
		h4
			font-weight: 700
			color: $midPurple
			margin: 10px 0 40px 0
			border: none
		svg
			width: 93%
			height: auto
			vertical-align: middle
			margin-bottom: 50px
			display: inline-block
		.num
			fill: $blue
			font: 700 20pt $heading-font
			&.multiline
				font-size: 20pt
		.wordblock
			display: inline-block
			max-width: 45%
			margin-left: 70px
			vertical-align: text-bottom
		&.full
			width: 100%
	&.pieStat 
		h4
			color: $purple
			margin: 10px 0 40px 0
		svg
			width: auto
			height: 200px
			vertical-align: top
			margin-bottom: 50px
		.keyColor
			display: inline-block
			width: 20px
			height: 20px
			float: left
		.wordblock
			width: 47%
			margin-left: 40px
			position: relative
		.num
			width: auto
			max-width: calc(100% - 33px)
			display: inline-block
			fill: $blue
			color: $blue
			font: 500 13pt $heading-font
			position: relative
			left: 10px
			vertical-align: bottom
			margin-bottom: 12px
			&.multiline
				font-size: 20pt
	&.course
		h4
			text-align: center
			position: absolute
			top: 0
			left: 0
			margin: 50px
			letter-spacing: 0.02ex
			transform: translateX(-46%) translateY(-52%)
			border: none
		p
			display: block
		svg
			float: left
			margin-right: 20px
		.ground
			stroke: #CDCDCD
		.pie
			stroke: $midPurple
	ellipse
		fill: none
		stroke-width: 8px
		stroke-dashoffset: 30px
	&.comparison
		&.first
			img
				width: 360px !important
				max-width: none !important
		img
			width: 220px
			margin-top: 30px

.st0
	fill: $midPurple
	background-color: $midPurple
.st1
	fill: $blue
	background-color: $blue
.st2
	fill: #D9B9FF
	background-color: #D9B9FF
.st3
	fill: #DDD
	background-color: #DDD
.st4
	fill: #ECECEC
	background-color: #ECECEC
.st5
	fill: #F0F0F0
	background-color: #F0F0F0

#wireframes
	display: block
	text-align: left
	max-width: 1000px
	margin-right: auto
	margin-left: auto
	.wordblock
		max-width: 500px
		margin-right: 100px
		float: left
	.pages
		display: inline-block
		vertical-align: top
		margin: 0
		float: right
		li
			display: inline
			margin-left: 20px
			cursor: pointer
			color: $blue
			font-family: $heading-font
			&:hover
				border-bottom: solid 2px $purple
		.selected
			color: $midPurple
			cursor: default
			&:hover
				border: none
	h3
		display: inline-block
	p
		display: none
	.desc
		margin-top: 1em
	hr
		height: 1px
		background-color: $purple
		border: none
	.wf
		display: inline-block
		max-width: 400px
		position: relative
		img
			width: 100%

		.hotspots
			position: absolute
			top: 0
			left: 0
			z-index: 2
			display: none
		.hotspot
			cursor: pointer
			fill: $darkerPurple
			opacity: 0.4
			stroke-width: 0
			&.selected
				opacity: 1
				stroke: $midPurple
				stroke-width: 8
				fill: rgba(0, 0, 0, 0)
	.selected, .hotspots.selected
		display: inline-block

	&.landscape
		h3
			width: auto
		.wf
			max-width: 560px
			.hotspot.selected
				stroke-width: 5
		.wordblock
			max-width: 370px
			margin-right: 70px

#moodboard
	li
		letter-spacing: 0.1ex
		&::before
			content: '\2014\00a0'
			color: $midPurple
			font: 400 16pt $heading-font

#prototype
	text-align: center

/*slider*/
.slider
	position: relative
	width: 100%
	height: 545px
	overflow: hidden
	text-align: center

.slider-control
	position: absolute
	transform: translateY(-50%)
	z-index: 1
	background: none
	border: none
	outline: none
	cursor: pointer

.control-arrow
	width: 7%
	height: 100%
	top: 50%
	background: rgba(29, 35, 73, 0.8)
	&:hover
		background: rgba(29, 35, 73, 0.9)

.control-svg
	fill: none
	stroke: $white
	stroke-width: 5px

.control-next
	right: 0

.control-back
	left: 0

.pagination
	left: 50%
	transform: translateX(-50%)
	top: 90%

.control-page
	content: '&nbsp;'
	margin: 0 10px
	padding: 7px
	border-radius: 12px
	background: $darkerPurple
	opacity: 0.5
	border: none
	outline: none
	cursor: pointer
	&:hover
		opacity: 0.75

#selected-page
	border: solid 3px $midPurple
	padding: 4px
	background: none
	opacity: 1

.control-close
	position: fixed
	top: 0
	right: 0
	z-index: 11
	stroke: $purple

.slider img
	display: inline-block

.comp
	max-width: 86.2%
	position: absolute
	left: 50%
	transform: translateX(-50%)
	transition: 0.8s cubic-bezier(.56,0,.4,1)
	cursor: pointer
	
video.comp
	max-height: 100%

.prevComp
	left: -100%
	transform: none

.nextComp
	left: 100%
	transform: none

.fullComp
	box-sizing: content-box
	width: 100vw
	height: 100vh
	position: fixed
	top: 0
	overflow-x: hidden
	overflow-y: auto
	background-color: rgba(29, 35, 73, 0.8)
	opacity: 0
	transition: 0.25s ease-in-out
	pointer-events: none
	z-index: 10
	cursor: pointer
	&.showing
		opacity: 1
		pointer-events: initial
	img, video
		width: auto
		max-width: 100%
		height: auto
		position: absolute
		left: 50%
		transform: translateX(-50%)
	.nextFullComp
		left: 100%
		transform: none
		display: none
	.prevFullComp
		left: -100%
		transform: none
		display: none

	.nextFull, .prevFull
		width: 50%
		position: absolute
		top: 0
		z-index: 11
	.nextFull
		left: 50%
	.prevFull
		left: 0

.project
	height: 200px
	img
		width: auto
		max-width: none
		height: 100%
		position: absolute
		left: 0
		z-index: -2
		float: right
	.wordblock
		width: auto
		position: relative
		top: 53%
		transform: translateY(-50%)
		opacity: 0
		transition: 0.2s ease-in-out
	h5
		color: $white
		font: 500 2em $heading-font
	p
		font: 500 14pt $heading-font
	svg
		stroke: $white
	&::before
		background-color: $white
		opacity: 0.4

	&:hover
		& .wordblock
			opacity: 1
			top: 51%
		&::before
			background-color: $darkerPurple

.footer
	width: auto
	position: static
	padding: 40px 0 20px 0

/*page transition*/
@keyframes fadeInUp
	0%
		top: 12vh
		opacity: 0
	100%
		top: 0
		opacity: 1

@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes slideDown
	0%
		top: -60px
	100%
		top: 0

.scene_element
	position: relative
	animation-timing-function: ease-out
	animation-fill-mode: both

.scene_element--fadeInUp
	animation-delay: 0.3s
	animation-duration: 0.5s
	animation-name: fadeInUp

.scene_element--fadeIn
	animation-delay: 0s
	animation-duration: 0.7s
	animation-name: fadeIn

.is-exiting
	.scene_element
		animation-direction: alternate-reverse